# =========================
# Build artifacts
# =========================
build/
cmake-build-*/
*.o
timeseries
*.obj
*.exe
*.out
*.a
*.so
*.dll

# =========================
# CMake files
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
